html 
    head 
        title= Vanguard
    body
        h1 Vanguard Contacts
        table(style='border-collapse: collapse' border='1') 
            tr
                th Name 
                th 
                th Email 
                th 
                th Username 
                th 
                th Age 
            each user in users
                tr(style='text-align: center') 
                    td #{user.name}
                    td 
                    td #{user.email}
                    td 
                    td #{user.username}
                    td 
                    td #{user.age}
                    td 
                    include buttons.pug
        div 
            form(action="/") 
                input(type='submit' value='Add User')