html 
    head 
        title= Vanguard
    body
        h1 Vanguard Contacts
        table 
            tr 
                th Name 
                th Email 
                th Username 
                th Age 
            each user in users
                tr 
                    td #{user.name}
                    td #{user.email}
                    td #{user.username}
                    td #{user.age}
                    include buttons.pug
        div 
            form(action="/") 
                label(for="addButton") 
                button(type="submit" id="addButton") Add User
